<p id="notice"><%= notice %></p>

<p>
  <strong>Isbn:</strong>
  <%= @libro.isbn %>
</p>

<p>
  <strong>Titulo:</strong>
  <%= @libro.titulo %>
</p>

<p>
  <strong>Paginas:</strong>
  <%= @libro.paginas %>
</p>

<p>
  <strong>Editorial:</strong>
  <%= @libro.editorial %>
</p>

<%= link_to 'Edit', edit_libro_path(@libro) %> |
<%= link_to 'Back', libros_path %>
